<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль</title>
</head>
<body>
<div>
    <h1>Мой профиль</h1>
    <p><strong>Имя:</strong> <span th:text="${user.name}"></span></p>
    <p><strong>Электронная почта:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Телефон:</strong> <span th:text="${user.phone}"></span></p>

    <h2>Мои покупки</h2>
    <ul>
        <li th:each="sale : ${sales}">
            <span th:text="${sale.product.title}"></span> - <span th:text="${sale.saleDate}"></span>
        </li>
    </ul>
</div>
</body>
</html>
