<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список товаров</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Список товаров</h1>
</header>
<main>
    <!-- Форма для фильтрации -->
    <form method="get" action="/products">
        <label for="category">Категория:</label>
        <select name="categoryId" id="category">
            <option value="" selected>Все категории</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
        <label for="manufacturer">Производитель:</label>
        <select name="manufacturerId" id="manufacturer">
            <option value="" selected>Все производители</option>
            <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
        </select>
        <button type="submit">Фильтровать</button>
    </form>

    <!-- Список товаров -->
    <div class="product-list">
        <div class="product-item" th:each="product : ${products}">
            <h3 th:text="${product.name}">Название товара</h3>
            <p th:text="'Цена: ' + ${product.price} + ' ₽'">Цена</p>
            <a th:href="@{/products/{id}(id=${product.id})}">Подробнее</a>
        </div>
    </div>
</main>
</body>
</html>
