<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout}">
<head>
    <title>Мои покупки</title>
</head>
<body>
<div th:fragment="content">
    <h1>Мои покупки</h1>
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Дата покупки</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="purchase : ${purchases}">
            <td th:text="${purchase.product.name}">Название товара</td>
            <td th:text="${purchase.salePrice} + ' ₽'">Цена</td>
            <td th:text="${purchase.saleDate}">Дата</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
