<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:replace="~{fragments/layout :: layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доступ запрещен</title>
</head>
<body>
<div th:fragment="content">
    <div class="text-center">
        <h1>403</h1>
        <p>У вас нет доступа к этой странице.</p>
        <a th:href="@{/'}}" class="btn btn-primary">На Главную</a>
    </div>
</div>
</body>
</html>
