<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить категорию</title>
</head>
<body>
<div>
    <h1>Добавить категорию</h1>
    <form th:action="@{/admin/categories/add}" method="post">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="description">Описание:</label>
        <textarea id="description" name="description"></textarea>
        <br>
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>
