<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактировать категорию</title>
</head>
<body>
<div>
  <h1>Редактировать категорию</h1>
  <form th:action="@{/admin/categories/edit}" method="post">
    <input type="hidden" name="id" th:value="${category.id}">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" th:value="${category.name}" required>
    <br>
    <label for="description">Описание:</label>
    <textarea id="description" name="description" th:text="${category.description}"></textarea>
    <br>
    <button type="submit">Сохранить</button>
  </form>
</div>
</body>
</html>
