<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Магазин Компьютеров</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div>
    <h1>Добро пожаловать в Магазин Компьютеров</h1>
    <nav>
        <a th:href="@{/products}">Товары</a> |
        <a th:href="@{/categories}">Категории</a> |
        <a th:href="@{/manufacturers}">Производители</a> |
        <a th:href="@{/admin}" th:if="${#authorization.expression('hasRole(\'ROLE_ADMIN\')')}">Админ Панель</a> |
        <a th:href="@{/profile}" th:if="${#authorization.authenticated}">Профиль</a> |
        <a th:href="@{/logout}" th:if="${#authorization.authenticated}">Выйти</a>
        <a th:href="@{/login}" th:if="${#authorization.anonymous}">Войти</a>
        <a th:href="@{/registration}" th:if="${#authorization.anonymous}">Регистрация</a>
    </nav>

    <h2>Категории</h2>
    <ul>
        <li th:each="category : ${categories}" th:text="${category.name}" th:href="@{'/categories/' + ${category.id}}"></li>
    </ul>

    <h2>Популярные Производители</h2>
    <ul>
        <li th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.name}" th:href="@{'/manufacturers/' + ${manufacturer.id}}"></li>
    </ul>
</div>
</body>
</html>
